<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Super heroe {{heroeId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="hero-detail-container">
    <div class="hero-image-container">
      <!-- <img [src]="heroImageUrl" alt="{{ heroName }}"> -->
      imagen
    </div>
    <hr class="separator"> 
    
    <div class="hero-info-container">
      <ion-list [inset]="true">
        <ion-item>
          <ion-label>Cantidad de comics disponibles: 5</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cantidad de series disponibles: 5</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Cantidad de stories disponibles: 5</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
