<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Super héroe {{selectedHeroe?.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="hero-detail-container">
    <div class="hero-image-container">
      <img [src]="selectedHeroe?.thumbnail?.path + '/standard_fantastic.' + selectedHeroe?.thumbnail?.extension" alt="{{ selectedHeroe?.name }}">
    </div>
    <hr class="separator"> 
    
    <span class="more-info-separator">Otra información</span>
    <div class="hero-info-container">
      <ion-item>
        <ion-label>Cantidad de comics disponibles: </ion-label>
        <ion-note slot="end">{{selectedHeroe?.comics?.available}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Cantidad de series disponibles: </ion-label>
        <ion-note slot="end">{{selectedHeroe?.series?.available}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Cantidad de stories disponibles: </ion-label>
        <ion-note slot="end">{{selectedHeroe?.stories?.available}}</ion-note>
      </ion-item>
    </div>
  </div>
</ion-content>
