ion-title {
    text-align: center;
  }
  
  ion-toolbar {
    --background: #9796e5;
  }

  .hero-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .hero-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .hero-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .separator {
    width: 100%;
    margin: 10px auto;
    border: 1px solid #ccc;
  }

  .hero-info-container {
    text-align: center;
  }

  
  h2 {
    margin-bottom: 10px;
  }