<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de superheroes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let hero of marvelHeroes$ | async" [routerLink]="['/heroe-detail', hero.id]">
      <ion-thumbnail slot="start">
        <img [src]="hero.thumbnail.path + '/standard_fantastic.' + hero.thumbnail.extension" alt="{{ hero.name }}">
      </ion-thumbnail>
      <ion-label slot="end">
        {{ hero.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>