<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de superheroes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let heroe of marvelHeroes$ | async" routerLink="/heroe-detail" [state]="{heroe}">
      <ion-thumbnail slot="start">
        <img [src]="heroe.thumbnail.path + '/standard_fantastic.' + heroe.thumbnail.extension" alt="{{ heroe.name }}">
      </ion-thumbnail>
      <ion-label>
        {{ heroe.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>